<div class="row" ng-controller='UserListController'>
  <h2>Add User</h2>
	<form  ng-submit="add_user()">
	  <div class="row" >
          <div class="small-6 columns">
            Name :  <small>*</small>  <input ng-model="newuser.name" type="text" placeholder="Name" name = "name" required>
          </div>
          <div class="small-6 columns">
            Email : <small>*</small> <input ng-model="newuser.email" type="text" placeholder="Email" name = "email" required>
          </div>
      </div>

    <div class="text-center">
      <button class="button tiny info">Add USER</button>
    </div>

    

  </form>

  <div class="row text-center">
    <span id="message">
      
    </span>
  </div>
</div>
