<div ng-controller='UserListController'>
	<div id = "userfield" class="row" >
	<div class="small-8 columns"><h2>User List</h2></div>
	<div class="small-4 columns"><button type="button" class="success button" ng-click="move_to_add()">Add User</button></div>
</div>
<div class="list">		
	<ul>
		<li ng-repeat="user in users">
			<div class="row">
				<div class="small-4 columns"><a ng-click="movetodetails(user.email)" >{{user.name}}</a></div>
				<div class="small-4 columns">{{user.email}}</div>
				<div class="small-4 columns"><button type="button" class="alert button" ng-click="delete_user(user._id)">Delete</button></div>
			</div>
		</li>
	</ul>
</div>


</div>

